*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-height: 100dvh;
}

nav{
    background-color: rgb(103, 90, 21);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.navigation{
    width: 40%;
    background-color: transparent;
    margin-right: 30px;
    padding: 5px 10px;
    margin-left: 0;
}

.navigation.resize{
    width: 40%;
    background-color: transparent;
    margin-right: 30px;
    display: none;
}

.navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}

.navigation ul li{
    text-decoration: none;
    list-style-type: none;
}
.navigation ul li a{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: rgb(103, 90, 21);
    font-size: 2rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: ease 0.4s;
}

.navigation ul li a:hover{
    color: rgb(169, 167, 167);
    transition: ease 0.4s;
    cursor: pointer;
}

.openSidebar{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    display: none;
}

.openSidebar:hover{
    cursor: pointer;
}

.closeSidebar{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    display: none;
    margin-top: 5px;
    
};

.closeSidebar:hover{
    cursor: pointer;
};

.logo{
    width: 110px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    padding: 0;
    border-radius: 50%;
    border: none;
    margin: 0;
};
.logoLink{
    background-color: rgb(103, 90, 21);
}

@media screen and (max-width: 1050px){
    .openSidebar, .closeSidebar{
        display: block;
    }
    .navigation{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid black;
        transition: right 300ms ease-out;
    }

    .navigation.show{
        right: 0;
        margin-right: 0px;
        display: flex;
        align-items: start;
        background-color: rgb(101, 98, 98);
    }

    .navigation ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(101, 98, 98);
    }

    .navigation ul .closeSidebar{
        padding-right: 0px;
        align-self: flex-end;
    }

    .navigation ul .closeSidebar:hover{
        cursor: pointer;
    }

    .navigation li{
        background-color: rgb(101, 98, 98);
    }

    .navigation a{
        width: 100%;
        padding-left: 2.5rem;
        padding: 10px 0px;
        background-color: rgb(101, 98, 98);
    }

    .navigation ul li a{
        background-color: rgb(101, 98, 98);
        padding: 20px 0px;
    }
}


@media screen and (max-width: 450px){
    .navigation.show{
        right: 0;
        margin-right: 0px;
        width: 100vw;
    }
}
